@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP",
    sans-serif;
}

.delay-100 {
  animation-delay: 0.16s;
}

.delay-200 {
  animation-delay: 0.32s;
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(245, 158, 11, 0.3);
  }
}
